body {
  margin: 0%;
  padding: 0%;
  background-image: url("https://raw.githubusercontent.com/RuthGyeul/PopArona/main/loby1.jpeg");
  background-size: contain;
}
.container{
  text-align: center;
}
h1{
  font-size: 6.5em;
  margin: 1% 0% -3% 0%;
  font-family: Nunito, sans-serif;
  -webkit-text-stroke: 2px black;
  color: white;
}
P{
  font-size: 4em;
  font-family: Nunito, sans-serif;
  -webkit-text-stroke: 2px black;
  color: white;
  margin-bottom: -8%;
}
